<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps.proyecto.pairumani.appbuild">

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:name="apps.proyecto.pairumani.appbuild.AppBuildApp"
        android:layout_gravity="center"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Build&apos;u"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="apps.proyecto.pairumani.appbuild.MainActivity"
            android:label="Build&apos;u">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="apps.proyecto.pairumani.appbuild.LogInActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="apps.proyecto.pairumani.appbuild.HomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="apps.proyecto.pairumani.appbuild.ActivityFacebookUser" />
        <activity
            android:name="apps.proyecto.pairumani.appbuild.MamposteriaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="apps.proyecto.pairumani.appbuild.ResultadosActivity" />
        <activity
            android:name="apps.proyecto.pairumani.appbuild.LosaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="apps.proyecto.pairumani.appbuild.ResultadoLosaActivity" />
        <activity android:name="apps.proyecto.pairumani.appbuild.RadierActivity" />
        <activity android:name="apps.proyecto.pairumani.appbuild.ResultadoRadierActivity" />
        <activity android:name="apps.proyecto.pairumani.appbuild.CotizarActivity"></activity>
    </application>

</manifest>