<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps.proyecto.pairumani.appbuild">

    <!-- PERMISO PARA QUE LA APLICACIÓN SE CONECTE A INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- PERMISO PARA ACCEDER A GPS -->
    <application
        android:name=".AppBuildApp"
        android:layout_gravity="center"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Build&apos;u"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- ID DE FACEBOOK DESARROLLADORES -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:label="Build&apos;u">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogInActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ActivityFacebookUser" />
        <activity
            android:name=".MamposteriaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ResultadosActivity" />
        <activity
            android:name=".LosaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ResultadoLosaActivity" />
        <activity android:name=".RadierActivity" />
        <activity android:name=".ResultadoRadierActivity" />
        <activity android:name=".CotizarActivity" />
        <activity android:name=".Correo" />
        <activity android:name=".LadrilloDialog" />
        <activity android:name=".Dialog.EspesorDialog" />
        <activity android:name=".Dialog.ProporcionDialog" />
        <activity android:name=".Dialog.RepelloDialog" />
        <activity android:name=".Dialog.LosaDialog" />
        <activity android:name=".Dialog.RadierDialog" />
        <activity android:name=".Dialog.MampDialog" />
        <activity android:name=".Dialog.LosaHDialog" />
        <activity android:name=".Dialog.RadierHDialog"></activity>
    </application>

</manifest>